{% load static %}
<html lang="en">
    <head>
        <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/dist/css/bootstrap-utilities.min.css' %}" rel="stylesheet">

        {% comment %} <link href="{% static 'q_school.css' %}" rel="stylesheet"> {% endcomment %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}f3 needs a schedule{% endblock %}</title>
    </head>
    <body>
      <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
      <main>
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Q-School Scheduling System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a href="#" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Home
                  </a>
                </li>
                <li>
                  <a href="{% url "region_management" %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Regions
                  </a>
                </li>
                <li>
                  <a href="{% url "area_of_operation_list" %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    AOs
                  </a>
                </li>
                <li>
                  <a href="{% url "members_management" %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Users
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
          {% block bodywork %}{% endblock %}
        
        </main>
    
    </body>
    {% block scripting %}{% endblock %}
    
</html>

